
.contenedor
{
    margin-top: 55px;

}
div .galeria
{
    
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightblue, 0 6px 20px 0 rgba(0, 0,0, 0.19);
    float: left;
    width: 350xp;
}

div .galeria img
{
   
    width: 300px;
    height: 200px;

}

div.galeria:hover
{
    border: 1px solid lightcoral;
    transform: rotate(-3ged);

}
div.pie
{
    
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;

}